    body {
    color: #996926;
    background-image: url(../background.jpeg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 100px;
    margin-left: 100px;
}

.link a {
    text-decoration: none;
    color: #966d34;
}

.link {
    text-align: center;
    text-decoration: none;
    margin: 20px;
}



.link a:hover {
    font-size: 20px;
    color: #724a0e;
}

h2 {
    text-align: center;
}


legend {
    font-size: 19px;
}

.satu {
    /* background-color: #e7d2b3;
    padding: 5px;
    border: 5px dashed #928d76; */
    background-color:#f0f0f0 ;
    outline-style: dashed;
     border: 1px dashed black;

     margin: 10px;
    padding: 10px;
}

.satu:hover {
    font-size: 20px;
}

.dua {
    background-color: #d1c9a5;
    padding: 5px;
    border: 5px dashed #928d76;
}
.dua:hover {
    font-size: 20px;
}